body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-height: 100dvh;

}

.reader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
