body {
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
}

.reader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
